$color-priamry: rgb(44, 55, 212);

$color-secondary : rgb(180, 40, 173);



$bp-largest: 1200px;     
$bp-large: 1100px;    
$bp-medium: 900px;   
$bp-small: 600px;   
$bp-smallest: 500px; 
$bp-smallest-ultra: 370px; 




$bp-small-height : 500px;