$color-priamry: rgb(15, 147, 165);

$color-secondary : rgb(37, 37, 37);



$bp-largest: 1200px;     
$bp-large: 1100px;    
$bp-medium: 900px;   
$bp-small: 600px;   
$bp-smallest: 500px; 
$bp-smallest-ultra: 370px; 




$bp-small-height : 500px;